# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python 
# azure-monitor-opentelemetry 

azure-functions
pandas
openpyxl
requests
redis
python-dotenv
ruff
pytest
pytest-cov